<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/2541/2541979.png"
    />
    <link rel="stylesheet" href="style.css" />
    <title>paper</title>
  </head>
  <body>
    <canvas id="paper"></canvas>
    <div class="inrm">in room : <span id="inroom">0</span></div>
    <script src="https://unpkg.com/peerjs@1.5.2/dist/peerjs.min.js"></script>
    <script>
      const roomId = "<%= roomId %>";
    </script>
    <script src="./index.js" type="module"></script>
  </body>
</html>
